NODE_ENV=development # Node Environment (development/production)
PORT=5000 # PORT for running the server
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url-string>/<collection-name>?retryWrites=true&w=majority # Put your MongoDB connection string here